@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;

  --color-accent-pink: #d946ef;
  --color-deep-purple: #701a75;
  --color-text-main: #fce7f3;
  --color-text-muted: #e879f9;
  --color-border-theme: #3b2856;
  --color-bg-base: #110e15;
  --color-bg-card: #1c1524;
}

@layer utilities {
  .bg-sidebar-grad {
    background: linear-gradient(180deg, #20132b 0%, #150a1c 100%);
  }
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
